<div class="container-fulid ab_fulid2">
	<div class="container about1">
		<h2><span>Cinemall</span> とは？</h2>
		<p>
			Cinemall は「cinema(映画)」と「mall(大型商業施設)」を組み合わせて作った造語です。
		</p>
		<p>
			近年の大型商業施設、いわゆるショッピングモールは食料品や衣料品など生活用品はもちろん<br>
			本屋、CDショップ、美容院から映画館まで、ショッピングモールに行けばなんでも揃います。
		</p>
		<p>
			当サイトは映画の情報をたくさん取り揃え、「Cinemallに行けば映画のことはなんでもわかる」<br>
			そう思っていただけるサイトを目指しております。<br>
			皆様と素晴らしい映画の出会いを手助けすることができれば幸いです。
		</p>
	</div>
</div>
<div class="container-fulid about2 clearfix">
	<p class="about2-title">Cinemallでできること</p>
	<div>
		<div class="about2_box">
			<%= fa_icon("eye") %><br>
			<span>watch</span>
			<p>
				鑑賞した映画のレビューを<br>
				投稿することができます。
			</p>
		</div>
		<div class="about2_box">
			<%= fa_icon("paperclip") %><br>
			<span>clip</span>
			<p>
				気になる映画を忘れないよう<br>
				保存することができます。
			</p>
		</div>
		<div class="about2_box">
			<%= fa_icon("search") %><br>
			<span>search</span>
			<p>
				作品名、人物名から検索し<br>
				映画を見つけることができます。
			</p>
		</div>
		<div class="about2_box">
			<%= fa_icon("users") %><br>
			<span>follow</span>
			<p>
				気になるユーザーをフォローし、<br>
				投稿をタイムラインから閲覧できます。
			</p>
		</div>
	</div>
</div>
<div class="container-fulid about3_fulid clearfix">
	<div class="container about3">
		<p class="about2-title">レビューの投稿方法</p>
		<div class="about3_box">
			<h3>1.アイコンをクリック</h3>
			<div class="about3box_pic about3box_pic_watch "></div>
			<p>
				作品のポスターの下に配置されている<br>
				目のアイコンをクリックすると<br>
				レビュー投稿フォームが画面に表示されます。
			</p>
		</div>
		<div class="about3_box">
			<h3>2.内容を入力</h3>
			<div class="about3box_pic about3box_pic_star "></div>
			<p>
				作品を「★0.5 〜 ★5.0」の10段階で評価<br>
				映画の感想を入力し、ネタバレを含んだ<br>
				投稿の場合は「ネタバレあり」をチェック
			</p>
		</div>
	</div>
</div>
