<div class="container-fulid top-main">
	<div class="tm-cover">
		<div class="container">
			<div class="tm-top">
				<p class="tm-p">映画の情報・評価・レビュー投稿なら</p>
				<h1 class="tm-h1"><%= fa_icon("film") %>Cinemall</h1>
				<p class="tm-catch">今日は、何を見よう？</p>
			</div>
			<div class="tm-bottom">
				<div class="tm-link">
					<button class="btn btn-outline-primary btn-lg tm-up">新規登録</button>
					<button class="btn btn-outline-success btn-lg tm-in">ログイン</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container top-content">
	
</div>