// Place all the styles related to the admins/Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Movie/new*/
.mn_main{
	width: 70%;
	margin: 170px auto 50px;
	border: 1px solid gray;
	border-radius: 5px;
}
.mn_title{
	text-align: center;
	background-color: #2D2D2D;
	color: white;
	border-radius: 3px 3px 0 0;
	padding: 15px 0;
	font-weight: 900;

}
.mn_label{
	text-align: center;
}
.mn_form{
	margin-top: 30px;
}
.mn_form_ex{
	margin-top: 15px;
}

.mn_attachment{
	margin-top: 5px;
}
.input-group-text{
}
.mn_min{
	border-top-right-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
}

/*movie/index*/
.mi_main{
	width: 100%;
	margin: 170px auto 50px;
	padding-bottom: 50px;
	border: 1px solid gray;
	border-radius: 5px;

}
.mi_title{
	text-align: center;
	background-color: #2D2D2D;
	color: white;
	border-radius: 3px 3px 0 0;
	padding: 15px 0;
	font-weight: 900;
	margin-bottom: 50px;
}
.mi_moviebox{
	width:95%;
	height: 150px;
	margin: 5px auto;
	background-color: #F2F2F2;
	box-shadow: 0 0 1px gray;
	border-radius: 2px;

}
.mi_image{
	float: left;
	width: 15%;
	height: 150px;
	padding: 12px 0;
	text-align: center;

}
.mi_box1{
	float: left;
	width: 33%;
	height: 150px;
	padding-right: 30px;
	padding-top: 50px;
}
.mi_box2{
	padding-top: 25px;
	padding-right: 10px;
	float: left;
	width: 23%;
	height: 150px;
}
.mi_box3{
	padding-top: 25px;
	float: left;
	width: 17%;
	height: 150px;
}
.mi_box4{
	text-align: center;
	padding-top: 25px;
	float: left;
	width: 12%;
	height: 150px;
	background-color: #EFEFEF;
	border-left: 1px dotted gray;
}
.mi_j_title{
	color: black;
	font-weight: 700;
}
.mi_e_title{
	font-size: 14px;
	color: #abb4bf;

}
.mi_p{
	margin-bottom: 15px;
	font-size: 15px;
}
.mi_link{
	color: #0066cc;
}
.mi-delete{
	padding: 2px 25px !important;
}

