/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome";


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  word-wrap: break-word;
}
.clearfix::after{
	content: "";
	display:block;
	clear:both;
}
li{
	list-style: none;
}
img{
   box-shadow: 0 0 1px gray;
 }
 h1,h2,h4,h3,h5,h6{
  font-weight: bold;
 }
 a:hover{
  text-decoration: none;
}
 .modal_open:hover{
  cursor: pointer;
 }
 .alert{
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    z-index: 2;
    opacity: 0.8;
 }
/*ヘッダー*/
header{
	background-color: rgba(45,45,45,1);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
  height: 120px;
  transition: 0.5s;

}
body{
  margin-top: 110px;
}
.mini_header{
  height: 100px;
  transition: 0.5s;
}
.mini_header_l_r{
  height: 95px;
  transition: 0.5s;

}

.h_left, .h_right{
	width:50%;
	height: 110px;
	float:left;
  transition: 0.5s;
}
.h_menu{
  display: none;
}
.h_form{
  width: 100%;
  height: 49%;
  transition: 0.5s;

}
.h_link{
  width: 100%;
  height: 49%;
}

.mini_h_link{
  height: 45%;
  transition: 0.5s;

}
/*header_left*/
.h_logo{
	width: 350px;
  float: left;
	color: #FF5917;
	font-size: 62px;
	font-weight: 900;
	font-family:'Trebuchet';
	margin: 0;
	padding-top: 20px;
}
.h_left a:hover{
  text-decoration: none;
}
.h_sub{
	color:#FF5917;
}

/*header_right*/

.h_list{
	float: right;
	margin:0;
}
.h_list_item1{
	float: left;
	color:white;
	margin-right: 60px;
	padding-top: 5px;
}
.h_list_item2{
	float: left;
	color:white;
	margin-right: 6px;
	padding-top: 5px;
}

.h_input{
	display: inline-block;
	float: right;
  padding-right: 10px;
}
.h_link_item{
	color: white;
  font-weight: bold;
}
.h_link_item:hover{
  text-decoration: none;
  color: #ff5219;
  transition: 0.2s ;
}
.search_field{
  width: 300px !important;
  margin-right: 10px;
}
.search_submit{
  padding: 5px 30px;
}

/*ヘッダーレスポンシブ*/
.h_menu_icon{
  display: none;
}
.h_menu{
  display: none;
}
.h_menu_search{
  display: none;
}
.h_menu_title{
  display: none;
}
.h_menu_link{
  display: none;
}
.h_menu_close{
  display: none;
}
/*レスポンシブ*/
@media screen and (max-width: 576px) {
  /*flash message*/
  .alert{
    top: 100px;
  }
  /*header*/
  header{
    height: 100px;
  }
  .h_right{
    display: none;
  }
  .h_logo{
    font-size: 40px;
    padding-top: 30px;
  }
  .h_menu{
    display: none;
  }
  .h_menu_icon{
    position: absolute;
    top: 24px;
    right: 15px;
    color: white;
    opacity: 0.5;
    font-size: 40px;
    display: block;
  }
  .h_menu_main{
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 1px gray;
    color: white;
    z-index: 101;
  }
  .h_menu_item{
    background-color: #ff5219;
    width: 100%;
    display: none;
  }
  .h_menu_ex{
    width:100%;
    height: 100%;
  }
  .h_menu_close{
    font-size: 40px;
    position: absolute;
    top: 10px;
    right: 15px;
    display: block;
  }
  .h_menu_title{
    font-weight: 1;
    font-family: 'TsukuARdGothic-Regular';
    padding-top: 24px;
    text-align: center;
    display: block;
  }
  .h_menu_search{
    padding: 10px 10px;
    display: block;
    text-align: center;
  }
  .search_field{
    width: 235px !important;
    margin-right: 5px;
  }
  .search_submit{
    padding: 5px 20px;
    margin-top: -15px;
  }
  .h_menu_link{
    width: 100%;
    display: block;
  }
  .h_menu_linkitem{
    width: 100%;
    padding: 15px 0 15px 20px ;
    font-size: 15px;
    border-top: 1px dotted white;
  }
  .h_menu_link a{
    color: white;
  }
}

/*footer*/
footer{
background-color: #2D2D2D;
}
.footer{
	height: 130px;
  padding-top: 30px;
  color: white;
}
.footer_item{
  width: 50%;
  float: right;
}
.footer_left{
  text-align: left;
}
.footer_right{
  text-align: right;
}

.footer_left h1{
  color: #ff5219;
}
.page_top{
  cursor: pointer;
  background-color: #FF5917;
  width: 130px;
  height: 40px;
  text-align: center;
  line-height: 2.5;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 15px;
}
.footer_link ul{
  float: right;
}
.footer_link li{
  float: left;
  margin-left: 25px;
  font-weight: bold;
}
.footer_link li a{
  color: white;
}
.footer_link li a:hover{
  color: #ff5219;
}

@media screen and (max-width: 576px) {
  /*footer*/

  .footer{
    height: auto;
    padding: 30px 0 10px;
    color: white;
  }
  .footer_item{
    width: 100%;
    float: none;
  }
  .footer_left h1{
    display: none;
  }
  .footer_left{
    font-size: 14px;
    text-align: center;
  }
  .footer_right{
    text-align: center;
  }
  .page_top{
    width: 90%;
    height: 40px;
  }
  .footer_link ul{
    float: none;
    display: inline-block;
  }
  .footer_link li{
    float: left;
    font-size: 12px;
    margin: 0 5px;
    font-weight: bold;
  }

}

/*Userログイン*/
.login-main{
	width: 50%;
	margin: 190px auto 100px;
	border: 1px solid gray;
	border-radius: 5px;
}
.login-title{
	text-align: center;
	background-color: #2D2D2D;
	color: white;
	padding: 5px 0;
	border-radius: 3px 3px 0 0;
	font-weight: 900;
}
.login-form{
	padding: 30px;
}
.lf-group1{
	margin-top: 30px;
}
.lf-group2{
	margin-top: 30px;
	margin-bottom: 50px;
}
.lf-btn{
	padding: 0 60px;
	margin-bottom: 40px;
}
/*userサインアップ*/
.signup-main{
	width: 50%;
	margin: 150px auto 60px;
	border: 1px solid gray;
	border-radius: 5px;
}
.sf-btn{
	padding: 0 60px;
	margin: 30px 0 10px;
}
.signup-form{
	padding: 30px;
}
.devise_bottom{
  text-align: right;
}

@media screen and (max-width: 576px) {
  /*user/login*/
  .login-main{
    width: 100%;
    margin: 150px auto 100px;
  }
  .lf-btn{
    padding: 0;
    margin-bottom: 40px;
  }
  .login-form{
    padding: 20px;
  }
  .lf-group1, .lf-group2{
    margin-top: 0px;
  }
  /*user/signup*/
  .signup-main{
    width: 100%;
    margin: 150px auto 60px;
    border: 1px solid gray;
    border-radius: 5px;
  }
    .signup-form{
    padding: 20px;
  }
  .sf-btn{
    padding: 0px;
    margin: 40px 0 10px;
  }
  .login-title{
    font-size: 28px;
  }
}




/*Movie/show/Star*/

.rate {
  position: relative;
  display: inline-block;
  width: 185px;
  height: 25px;
  font-size: 30px;
}
.rate:before, .rate:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  letter-spacing: 8px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
  text-shadow: #23282f 0.2px 0.2px 0.2px;
}
.rate:before {
  color: #ddd;
}
.rate:after {
  color: #ffa500;
  overflow: hidden;
  white-space: nowrap;
}

.rate0:after {
  width: 0;
}
.rate0-5:after {
  width: 15px;
}

.rate1:after {
  width: 30px;
}

.rate1-5:after {
  width: 53px;
}

.rate2:after {
  width: 69px;
}

.rate2-5:after {
  width: 91px;
}

.rate3:after {
  width: 106px;
}

.rate3-5:after {
  width: 129px;
}

.rate4:after {
  width: 145px;
}

.rate4-5:after {
  width: 167px;
}
.rate5:after {
  width: 182px;
}


/*review/star*/

.r_rate {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 25px;
  font-size: 25px;
}
.r_rate:before, .r_rate:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 25px;
  text-shadow: #23282f 0.2px 0.2px 0.2px;

}
.r_rate:before {
  color: #ddd;
}
.r_rate:after {
  color: #ffa500;
  overflow: hidden;
  white-space: nowrap;
}

.r_rate0:after {
  width: 0;
}
.r_rate0-5:after {
  width: 12px;
}

.r_rate1:after {
  width: 25px;
}

.r_rate1-5:after {
  width: 37px;
}

.r_rate2:after {
  width: 50px;
}

.r_rate2-5:after {
  width: 62px;
}

.r_rate3:after {
  width: 75px;
}

.r_rate3-5:after {
  width: 87px;
}

.r_rate4:after {
  width: 100px;
}

.r_rate4-5:after {
  width: 112px;
}
.r_rate5:after {
  width: 125px;
}



