/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome";


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  word-wrap: break-word;
}
.clearfix::after{
	content: "";
	display:block;
	clear:both;
}
li{
	list-style: none;
}
img{
   box-shadow: 0 0 1px gray;
 }
 h1,h2,h4,h3,h5,h6{
  font-weight: bold;
 }
 a:hover{
  text-decoration: none;
}
 .modal_open:hover{
  cursor: pointer;
 }
 .alert{
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    z-index: 2;
    opacity: 0.8;
 }
/*ヘッダー*/
header{
	background-color: rgba(45,45,45,1);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
  height: 120px;
  transition: 0.5s;

}
body{
  margin-top: 110px;
}
.mini_header{
  height: 100px;
  transition: 0.5s;
}
.mini_header_l_r{
  height: 95px;
  transition: 0.5s;

}

.h_left, .h_right{
	width:50%;
	height: 110px;
	float:left;
  transition: 0.5s;
}
.h_form{
  width: 100%;
  height: 49%;
  transition: 0.5s;

}
.h_link{
  width: 100%;
  height: 49%;
}

.mini_h_link{
  height: 45%;
  transition: 0.5s;

}
/*header_left*/
.h_logo{
	width: 350px;
  float: left;
	color: #FF5917;
	font-size: 62px;
	font-weight: 900;
	font-family:'Trebuchet';
	margin: 0;
	padding-top: 20px;
}
.h_left a:hover{
  text-decoration: none;
}
.h_sub{
	color:#FF5917;
}

/*header_right*/

.h_list{
	float: right;
	margin:0;
}
.h_list_item1{
	float: left;
	color:white;
	margin-right: 60px;
	padding-top: 5px;
}
.h_list_item2{
	float: left;
	color:white;
	margin-right: 6px;
	padding-top: 5px;
}

.h_input{
	display: inline-block;
	float: right;
  padding-right: 10px;
}
.h_link_item{
	color: white;
  font-weight: bold;
}
.h_link_item:hover{
  text-decoration: none;
  color: #ff5219;
  transition: 0.2s ;
}
.search_field{
  width: 300px !important;
  margin-right: 10px;
}
.search_submit{
  padding: 5px 30px;
}

/*footer*/
footer{
background-color: #2D2D2D;
}
.footer{
	height: 80px;
  padding-top: 20px;
  text-align: center;
  color: white;
}












/*Userログイン*/
.login-main{
	width: 50%;
	margin: 190px auto 100px;
	border: 1px solid gray;
	border-radius: 5px;
}
.login-title{
	text-align: center;
	background-color: #2D2D2D;
	color: white;
	padding: 5px 0;
	border-radius: 3px 3px 0 0;
	font-weight: 900;
}
.login-form{
	padding: 30px;
}
.lf-group1{
	margin-top: 30px;
}
.lf-group2{
	margin-top: 30px;
	margin-bottom: 50px;
}
.lf-btn{
	padding: 0 60px;
	margin-bottom: 40px;
}
/*userサインアップ*/
.signup-main{
	width: 50%;
	margin: 150px auto 60px;
	border: 1px solid gray;
	border-radius: 5px;
}
.sf-btn{
	padding: 0 60px;
	margin: 30px 0 10px;
}
.signup-form{
	padding: 30px;
}
.devise_bottom{
  text-align: right;
}

/*Movie/show/Star*/

.rate {
  position: relative;
  display: inline-block;
  width: 185px;
  height: 25px;
  font-size: 30px;
}
.rate:before, .rate:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  letter-spacing: 8px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
  text-shadow: #23282f 0.2px 0.2px 0.2px;
}
.rate:before {
  color: #ddd;
}
.rate:after {
  color: #ffa500;
  overflow: hidden;
  white-space: nowrap;
}

.rate0:after {
  width: 0;
}
.rate0-5:after {
  width: 15px;
}

.rate1:after {
  width: 30px;
}

.rate1-5:after {
  width: 53px;
}

.rate2:after {
  width: 69px;
}

.rate2-5:after {
  width: 91px;
}

.rate3:after {
  width: 106px;
}

.rate3-5:after {
  width: 129px;
}

.rate4:after {
  width: 145px;
}

.rate4-5:after {
  width: 167px;
}
.rate5:after {
  width: 182px;
}


/*review/star*/

.r_rate {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 25px;
  font-size: 25px;
}
.r_rate:before, .r_rate:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 25px;
  text-shadow: #23282f 0.2px 0.2px 0.2px;

}
.r_rate:before {
  color: #ddd;
}
.r_rate:after {
  color: #ffa500;
  overflow: hidden;
  white-space: nowrap;
}

.r_rate0:after {
  width: 0;
}
.r_rate0-5:after {
  width: 12px;
}

.r_rate1:after {
  width: 25px;
}

.r_rate1-5:after {
  width: 37px;
}

.r_rate2:after {
  width: 50px;
}

.r_rate2-5:after {
  width: 62px;
}

.r_rate3:after {
  width: 75px;
}

.r_rate3-5:after {
  width: 87px;
}

.r_rate4:after {
  width: 100px;
}

.r_rate4-5:after {
  width: 112px;
}
.r_rate5:after {
  width: 125px;
}
