// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*sidebar*/
.lind_sidebar{
	box-shadow: 0 0 1px #C6C5C2;
	text-align: center;
	background-color: #4d4d4d;
	padding-bottom: 30px;
}
.lind_sidebar_title{
	background-color: #4d4d4d;
	color: white;
	padding: 20px 0;
	margin-bottom: 0px;
}
.lind_sidebar_title:first-child{
}
.lind_sidebar_item{
	margin: 5px 10px;
	padding: 10px 0;
	background-color: white;
	text-align: left;
	font-weight: bold;
	padding-left: 20px;
}
.lind_sidebar_item:hover{
	background-color: #4d4d4d;
	color: #ff5917;
	transition: 0.2s ;
	box-shadow: 0 0 5px #2d2d2d;
}
.lind_sidebar_item_link{
	width: 80%;
	float: left;
}
.lind_sidebar a{
	color: black;
}
.lind_sidebar a:hover{
	color: black;
	text-decoration: none;
}
.lind_sidebar_item:last-child{
	border-bottom: 0;
}
@media screen and (max-width: 576px) {
	.sidebar_responsive{
		display: none;
	}
	.col9_responsive{
		width: 350px;
		padding: 0 5%;
		margin: 0 auto;
	}
}



/*list/index*/
.lin-content{
	text-align: center;
	padding-bottom: 50px;
	box-shadow: 0 0 1px #C6C5C2;
	border-radius: 5px;
	margin-bottom: 30px;
	background-color: #f2f2f2;
}
.lin_list_name{
	padding: 20px 0 ;
	background-color: #2d2d2d;
	border-radius: 5px 5px 0 0 ;
	color: #ff5917;
}
.lin-container{
	margin-bottom: 30px;
	padding: 0 !important;
}
.lin_warpper{
	margin: 60px 0 50px;
}
.li_wrapper-container{
	margin-top: 150px;
}
.lind_movie_box{
	width: 17%;
	margin: 0 1%;
	display: inline-block;
}
.lin_list_intro{
	padding: 20px 30px;
	text-align: left;
	font-size: 14px;
}
.res_list{
	display: none;
}

@media screen and (max-width: 576px) {
	.lin_list_name{
		font-size: 24px;
	}
	.lind_movie_box{
		width: 30%;
		margin-bottom: 20px;
	}
	.lind_movie_box img{
		height: 120%;
		width: 80%;
	}
	.res_list{
		display: block;
		margin: 50px auto 30px;
		width: 285px;
	}
	.lin_list_intro{
		padding: 20px 10px;
	}
}


/*list/show*/
.lsh-header{
	text-align: center;
	background-color: #fafafa;
	padding: 30px 15% 10px;
}
.lsh_list_intro{
	padding-top: 20px;
	text-align: left;
	font-size: 16px;
}
.lsh-movie-box{
	border: 10px solid #f2f2f2;
	border-bottom: 0;
	padding: 10px 0;
}
.lsh-movie-box:last-child{
	border-bottom: 10px solid #f2f2f2;
}
.lsh-movie-box-left{
	width: 35%;
	float: left;
	padding: 10px 0 0 10px;
}
.lsh-movie-box-right{
	width: 65%;
	height: 100%;
	float: left;
	padding-top: 10px;
}
.lsh-movie-box-title{
	padding-bottom: 25px;
}
.lsh_e_title{
	margin-bottom: 0px !important;
	margin-left: 5px;
    color: #b4bcc5;
}
.lsh_star{
	height: 50px;
}
.lsh_summary{
	padding-right: 20px;
	padding-bottom: 15px;
}
.lsh_cast{
	background-color: #f4f4f4;
	display: inline-block;
	padding: 5px;
	border-radius: 20px;
	margin-bottom: 2px;
}
.lsh_cast:hover{
	background-color: #D5E1F2;
}

.lsh_casts a{
	color: black;
}
.lsh_casts a:hover{
	text-decoration: none;
	color: black;
}
.lsh_casts_last{
	text-align: right;
	margin-bottom: 10px;
	padding-right: 20px;
	padding-top: 20px;
}

@media screen and (max-width: 576px) {
	.lsh-header{
		padding: 30px 5% 10px;
		margin-top: -10px;
	}
	.lsh-header h2{
		font-size: 24px;
	}
	.lsh-movie-box{
		border: 5px solid #f2f2f2;
		border-bottom: 0;
	}
	.lsh-movie-box:last-child{
		border-bottom: 5px solid #f2f2f2;
	}
	.lin_warpper{
		margin: 30px 0 50px;
	}
	.lsh-movie-box-left{
		width: 100%;
		float: none;
		padding: 0 0 0 10px;
	}
	.lsh-movie-box-right{
		width: 100%;
		height: 100%;
		float: none;
		padding: 20px 10px 10px;
	}
	.lsh_image img{
		height: 105%;
		width: 79%;
		margin-left: 8%;
	}
	.lsh-movie-box-title{
		padding-bottom: 0px;
	}
	.lsh-movie-box-title h4{
		font-size: 20px;
	}
	.lsh_e_title{
		font-size: 14px;
		margin-left: 3px;
		margin-top: -5px;
	}
	.lsh_image{
		width: 50%;
		float: left;
	}
	.lsh_summary{
		padding: 15px 0 15px;
		font-size: 14px;
	}
	.lsh_star{
		margin-top: 10px;
		height: 40px;
	}

}
