// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ms_top{
	margin: 0 auto;
	padding: 80px 0 50px;
	width: 90%;
}
.ms_top_1{
	padding: 0 !important;
}
.ms_top_2{

}
.ms_top_2box{
	padding-left: 50px;
}
.ms_icon_box{
	width: 126px;
	height: 70px;
	margin-top: 5px;
	background-color: #E6D5CF;
	float: left;
	border-radius: 5px;
	text-align: center;
	padding-top: 5px;
	color: #7D3E27;

}
.ms_icon_box1{
	margin-right: 2px;
}
.ms_icon_box1:hover{
	cursor: pointer;
}
.ms_icon_box2{
	margin-left: 2px;
}

.ms_icon_box1_present{
	background-color: #FF5917;
}
.ms_icon_box i{
	color: #7D3E27;
	font-size: 35px;
}
.ms_icon_box p{
	font-size: 20px;
	font-weight: 900;
	margin-top: -5px;
}

.ms_j_title{
	font-weight: 900;
}
.ms_e_title{
	margin-left: 5px;
	color: #b4bcc5;
	margin-bottom: 20px;
}
.clipped_ms_icon_box2{
	background-color: #FF5917;
}

/*関連作品*/
.movie_side{
	margin-top: 100px;
}
.movie_side_box{
	width: 46%;
	float: left;
	text-align: center;
	height: 152px;
	margin:0 2% 10px;
	box-shadow: 0 2px 5px #ccc;
}
.movie_side_title{
	background-color: #2d2d2d;
	color: white;
	padding: 10px;
}
.movie_side_boxes{
	padding: 5px;
}

/*score*/
.ms_star{
	margin-bottom: 20px;
}
.ms_score{
	font-size: 25px;
	font-weight: 900;
	display: inline-block;
	margin-left: 15px;
	font-family: 'ＭＳ Ｐゴシック';
	color: #ffa500;
	text-shadow: #23282f 0.1px 0.5px 0.1px;
}

.mn_h5{
	font-weight: bold;
}
.ms_bottom_box{
	padding-top: 30px;
}
.ms_cast_table td{
	padding: 0 !important;
	text-align: center;
}
.ds_td{
	background-color: #333333;
	color: white;
	font-weight: bold;
}
.a_td{
	background-color: #999999;
	color: white;
	font-weight: bold;
}
.ms_bottom_box_right{
	padding-left: 30px;
}
.ms_info_box{
	padding-left: 30px;
}
.ms_info_box span{
	font-weight: bold;
}
.ms_info_box td{
	padding: 4px 0 !important;
}
.ms_info_td{
	font-weight: bold;
	width: 100px;
}
/*あらすじ、キャストの表示*/
.ms_show_all{
	color: #0099FF;
}
.ms_show_all:hover{
	cursor: pointer;
}
.ms_actor_all{
	display: none;
}
.ms_hide{
	color: #0099FF;
	display: none;
}
.ms_hide:hover{
	cursor: pointer;
}
.summary_limit{
	margin-bottom: 0px;
}
.summary_all{
	display: none;
}
.ms_trailer_box{
	padding-left: 50px;
	margin-top: 50px;
}
.youtube-container{
	margin-top: 50px;
}
.ms_cast_table a{
	color: black;
}
.ms_cast_table a:hover{
	text-decoration: none;
	color: black;
}
.ms_cast_table_link:hover{
	background-color: #FFC575;
}

/*モーダル*/
.modal_back{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: none;
}
.ms_modal{
	position: absolute;
    top: 10%;
    left: 32%;
    width: 550px;
    height: 620px;
    background-color: white;
    border-radius: 10px;
}
.ms_modal_top{
	background-color: #FF5917;
	padding-bottom: 20px;
	border-radius: 10px 10px 0 0;
}
.ms_modal_title{
	color: white;
	text-align: center;
	font-weight: 900;
}
.ms_modal_close{
	text-align: right;
	padding-right: 10px;
}
.modal_close_btn{
	color: #CCCCCC;
	font-size: 30px;
}
.modal_close_btn:hover{
	cursor: pointer;
}
.ms_modal_submit{
	text-align: right;
}
.ms_review_form{
	padding: 0px 20px 20px;
	text-align: left;
}
.modal_bottom_btn{
	padding: 7px 45px !important;
}
.ms_review_form img{
	box-shadow: none;
}
.modal-score{
	margin: 0px -20px 20px;
	padding: 0 20px 10px;
	background-color: #2D2D2D;
}
.modal_span{
	color:white;
	font-weight: bold;
}
.modal_star{
	margin: 0 auto;
	width: 33%;
}

/*review部分*/
.ms_bottom{
	background-color: #F2F2F2;
	border-top: 1px solid #D8D8D8;
	padding-bottom: 20px;
}
.ms_review{
	width: 70%;
	margin: 50px auto;
	box-shadow: 0 1px 1px gray;
	padding-bottom: 50px;

}
.ms_review_title{
	padding: 30px 0;
	text-align: center;
	font-weight: bold;
	background-color: #2D2D2D;
	color: white;
	margin-bottom: 30px;
}
.ms_review_box{
	background-color: white;
	width: 80%;
	margin: 0 auto 10px;
	padding: 10px 30px 10px;
}
.ms_no_review{
	text-align: center;
	font-weight: 900;
	padding: 50px;
}
.review_box_top{
	height: 80px;
	margin-bottom: 10px;
}
.review_box_top1{
}
.review_box_top2{
	padding-left: 0px !important;
}
.review_box_top2 p{
	margin-bottom: 10px !important;
}
.review_box_top2_name{
	margin-bottom: 8px;
	font-weight: bold;
	font-size: 20px;
	padding-left: 5px;
}
.review_box_top2_t{
	color: #848484;
}
.review_box_bottom{
	margin-top: 15px;
	padding: 15px 0;
	border-top: 1px dashed #F2F2F2;
}
.review_box_score{
	font-weight: 900;
	display: inline-block;
	font-family: 'ＭＳ Ｐゴシック';
	color: #ffa500;
	text-shadow: #23282f 0.1px 0.5px 0.1px;
	font-size: 20px;
	position: relative;
	top: -3px;
	left: 50px;
}
.review_secret_p{
	font-weight: nomal;
	color: #FE2E2E;

}
.secret_i{
	font-size: 24px;
	color: #5F2F1D;
}
.review_secret_p:hover{
	cursor: pointer;
}
.secret_hide_review{
	display: none;
}
.review_box_bottom_time{
	width: 85%;
	float: left;
}
.review_box_bottom_iine{
	width: 15%;
	float: left;
	text-align: left;
}
.iine i{
	color: red;
}

.uniine i{
	color: gray;
}


