// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.rs_review_box{
	width: 98%;
	background-color: #f2f2f2;
	margin: 1%;
	float: left;
	padding-bottom: 15px;
}
.rs_review_box_left{
	width: 17%;
	float: left;
	padding: 0 10px;
}
.rs_review_box_right{
	width: 80%;
	float: left;
}
.rs_review_box_comment{
	border-bottom: 1px dotted gray;
	font-size: 18px;
	padding-bottom: 30px;
}
.rs_backbtn{
	text-align: right;
	padding: 10px;
}
.rs_review_box_iine{
	text-align: left;
	padding: 15px 0 0 87%;
}