// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*top*/
.top-header{
	background-color: rgba(45,45,45,0);
}
.h_logo_hide{
	display: none;
}
.top-main{
	height: 550px;
	background-image: url('/images/top.jpg');
	background-size: cover;
	background-position: center;
	margin-top: -110px;
}
.admin_top-main{
	background-color: red;
	height: 550px;
	background-image: url('/images/top.jpg');
	background-size: cover;
	background-position: center;
}

.tm-cover{
	background-color: rgba(0,0,0,0.8);
	height: 550px;
	width: 100%;
}
.tm_menu{
	display: none;
	padding-top: 50px;
}
.top-login-form{
	padding-top: 250px;
	display: none;
}
.top-signup-form{
	padding-top: 70px;
	display: none;
}
.tm-top{
	text-align: center;
	height:300px;
	color: white;
}
.tm-p{
	padding:100px 0 10px;
	margin: 0;
	font-size: 14px;
}
.tm-h1{
	font-family:'Trebuchet';
	font-size: 100px;
	font-weight: 900;
	letter-spacing: 2px;
	color:#FF5917;
	margin: 0;
	padding-right: 30px;
}
.tm-bottom{
	height: 200px;
	width: 100%;
}
.tm-catch{
	color:white;
	margin-top: -5px;
	font-size: 18px;
	font-family: 'ヒラギノ丸ゴ Pro W4';
}
.tm-link{
	text-align: center;
	padding-top: 50px;
	padding-right: 37px;
}
.tm-in{
	margin-left: 40px;
	padding: 10px 30px !important;

}
.top-content{
	text-align: center;
	padding-bottom: 50px;
}
.top-content:nth-child(even){
	background-color: #f4f4f4;
}
.top-container{
	margin-bottom: 30px;
}
.top_list_name{
	padding: 50px 0 30px 0;
}
.top_movie_box{
	width: 17%;
	margin: 0 1%;
	float: left;
	box-shadow: 0 0 1px #C6C5C2;
	border-radius: 5px;
}
.top_movie_box a{
	color: black;
}
.top_movie_box a:hover{
	text-decoration: none;
	color: black
}

.top_movie_box_j{
	font-size: 12px;
	height: 30px;
	padding-top: 10px;
}
.top_icon_box{
	width: 32%;
	float: left;
	background-color: #E6D5CF;
	border-radius: 5px;
	margin: 1.2px;
	color: #7D3E27;
	box-shadow: 0 0 1px #C6C5C2;

}
.top_icon_box i{
	font-size: 20px;
}
.top_icon_box span{
	font-size: 14px;
}
.top_star{
	background-color:  #FBF9F4;
	box-shadow: 0 0 1px #C6C5C2;
	border-radius: 5px;
	margin: 1px;
	color: #F9C804;
}

.top-form-inline{
	margin-left: 23%;
}
.top_lg_form{
	padding: 11px !important;
	margin-right: 5px;
	background-color: black;
	background-color: rgba(0,0,0,0.8) !important;
	color: white !important;
}
.top-email{
	width: 300px !important;
}
.top-signup-form-wrapper{
	width: 40%;
	margin: 0 auto;
	padding-top: 100px;
}
.top-signup-form-wrapper i{
	color: #D8D8D8;
	font-size: 32px;
	text-align: right;
}

.password_confirmation i{
	font-size: 20px;
}
.user_user_name i{
	padding-left: 5px;
}
.top-sign-btn{
	width: 74%;
	margin-left: 17%;
}
.top_back_btn{
	text-align: right;
	padding-right: 40px;
	margin-top: 20px;
}
.top_back_btn1{
	text-align: right;
	padding-right: 265px;
	margin-top: 30px;
}
.top_back_span{
	color: white;
	font-size: 16px;
}
.top_back_span i{
	font-size: 16px;
}
.top_back_span:hover{
	cursor: pointer;
}

/*top responsive*/
@media screen and (max-width: 576px) {
	.top-main{
		height: 460px;
	}
	.tm-cover{
		height: 460px;
	}
	.tm-h1{
		font-size: 48px;
		padding-right: 0px;
	}
	.tm-p{
		padding-top:80px;
	}
	.tm-catch{
		opacity: 0.8;
		margin-top: 10px;
		font-size: 16px;
	}
	.tm-top{
		height: 190px;
	}
	.tm-link{
		padding-top: 70px;
		padding-right: 0px;
	}
	.tm-in{
		margin-left: 0px;
		padding: 10px 25px !important;

	}
	.top-signup-form-wrapper{
		width: 90%;
		padding-top: 0px;
		margin-top: -20px;
	}
	.tmr_usform{
		margin-left: 40px;
	}
	.top-signup-form-wrapper label{
		position: relative;
		top: 48px;
		left: -10px;
	}
	.top-signup-form-wrapper .form-group{
		height: 52px;
	}
	.top-sign-btn{
		width: auto;
		margin-left: 40px;
		margin-top: 48px;
	}
	.top_back_btn{
		text-align: right;
		margin-top: 15px;
		padding-right: 0;
	}
	.top-login-form{
		padding-top: 150px;
		text-align: center;
	}
	.top-form-inline{
		margin-left: 0;
		display: inline-block !important;
	}
	.top_lg_form{
		margin-right: 0;
		padding: 8px !important;
	}
	.top-email{
		width: 280px !important;
	}
	.top_back_btn1{
		text-align: right;
		padding-right: 0;
		margin-top: 10px;
		width:280px;
		display: inline-block;
	}
	.top-signup-form-wrapper i{
		font-size: 28px;
	}
	.password_confirmation i{
		font-size: 16px;
	}
	.top_back_span i{
		font-size: 16px;
	}


}



















/*search*/
.s_top_js{
	text-align: right;
	padding-right:0;
	font-weight: bold;
	color: #007bff;
}
.s_top_js span:hover{
	color: #0056b3;
	cursor: pointer;
}

.s_person{
	display: none;
}
.search_zero{
	text-align: center;
	padding: 100px 0;
	background-color: #f4f4f4;
	margin-bottom: 50px;
}
.s_person_box{
	width: 47%;
	margin: 1%;
	height: 255px;
	float: left;
	border: 10px solid #f2f2f2;
}
.s_person_box h5 a{
	color: black;
}
.s_person_box h5 a:hover{
	color: #ff5219;
	text-decoration: none;
}
.s_person_box p{
	margin-bottom: 0;
	font-size: 14px;
	padding-left: 10px;
}
.s_person_box h5{
	padding-left: 10px;
}
.s_person_movie{
	width: 33%;
	height: 70%;
	float: left;
	text-align: center;
}
.s_person_movie_ex{
	width: 33%;
	height: 75px;
	margin-top: 30px;
	float: left;
	background-image: url("/images/Cinemall-logo.png");
	background-position: center;
}



/*about*/
.ab_fulid1{
	background-color: #ff5219;
}
.about1{
	text-align: center;
	padding-top: 60px;
	padding-bottom: 40px;
}

.about1 span{
	color: #ff5219;
	font-family: 'Trebuchet';
	letter-spacing: 2px;
	font-size: 48px;
}
.about1 h2{
	margin-bottom: 50px;
}
.about1 p{
	line-height: 1.5;
	font-size: 18px;
	margin-bottom: 40px;
	font-family: 'TsukuARdGothic-Regular';
}
.about2{
	text-align: center;
	color: white;
	padding-top: 50px;
	background-color: #ff5219;
	padding-bottom: 100px;

}
.about2-title{
	font-size: 32px;
	padding-bottom: 30px;
}
.about2_box{
	width: 25%;
	height: 200px;
	float: left;
}
.about2_box i{
	font-size: 60px;
}
.about2_box span{
	font-size: 24px;
	display: block;
	margin: 30px 0;
}
.about1{
	text-align: center;
	padding-top: 60px;
	padding-bottom: 40px;
}
.about3_fulid{
	margin-bottom: 50px;
}
.about3{
	text-align: center;
	padding-top: 50px;
}
.about3_box{
	width: 50%;
	float: left;
}
.about3box_pic{
	height: 300px;
	width: 300px;
	border-radius: 50%;
	margin-bottom: 20px;
}
.about3box_pic_watch{
	display: inline-block;
	background-image: url('/images/watch.png');
	background-position: center;
	background-size: cover;
	box-shadow: 0 2px 5px #ccc;
}
.about3box_pic_star{
	display: inline-block;
	background-image: url('/images/watch_star.png');
	background-position: center;
	background-size: cover;
	box-shadow: 0 2px 5px #ccc;
}

